.filter-products {
    border-right: 2px solid #ccc;
}

.filter-products a {
    color: rgba(119, 114, 114, 0.5);
}

.filter-products .first {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.filter-products a:hover,
.filter-products a:active {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}